{% load static %}
<!doctype html>
<html lang="ko">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
<!-- hello CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Hello, hello!</title>
</head>
<body>
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}
{% endblock %}
<!-- <div class="button-container">
    <a href="{% url 'hello:question_form' %}" class="button registration-button">질문등록</a>
</div> -->
<!-- 기본 템플릿 안에 삽입될 내용 End -->
</body>
</html>